@font-face {
  font-family: "Digi";
  src: url("/DS-DIGI.TTF"); }

* {
  box-sizing: border-box;
  user-select: none; }

.body-container {
  background-color: black;
  font-family: monospace;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em; }

h1, h2, h3 {
  color: #000; }

h1 {
  color: #fff;
  font-size: 1.6em;
  text-align: center; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

a {
  text-decoration: none;
  color: #09f; }
  a:hover {
    text-decoration: underline; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 100vh; }

.keyscontainer {
  width: 100%;
  padding: 2px 8px 8px 8px;
  background-color: #484848;
  display: flex; }

.keybutton {
  border: none;
  height: 70px;
  flex: 1;
  margin: 0 2px;
  border-radius: 5px 5px 13px 13px;
  position: relative; }

.keybutton-purple {
  background-color: #802450; }

.keybutton-pink {
  background-color: #CC3980; }

.keybutton-pressed {
  /* background-color: #1F0051; */ }

.button-light {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 5px);
  border-radius: 9999999px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2); }
  .keybutton-pressed > .button-light {
    background-color: orange; }

.patternkeyscontainer {
  width: 100%;
  padding: 10px 1px;
  background-color: #484848;
  display: flex; }

.instrument-button {
  text-align: center;
  background-color: #EBE696;
  border: none;
  flex: 1;
  margin: 0 5px;
  border-radius: 9999px;
  position: relative;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  padding: 8px 0px;
  text-transform: uppercase;
  cursor: pointer; }
  .instrument-button.instrument-button-pressed {
    background-color: white; }

.tempocontainer {
  position: fixed;
  top: 5px;
  left: 5px; }

.tempo-display {
  background-color: #D0D0D0;
  font-family: "Digi";
  font-size: 60px;
  line-height: 1;
  padding: 0 5px;
  border-radius: 3px;
  margin: 5px; }

.sliders-container {
  display: flex;
  margin-bottom: 10px; }

.slider-pair-container {
  flex: 1;
  display: flex;
  height: 35vh;
  padding: 0 15px; }

.slider-container {
  width: 50%;
  position: relative; }

.slider {
  -webkit-appearance: slider-vertical;
  margin: 0;
  width: 100%;
  height: calc(100% - 20px);
  z-index: 1000; }

.slider-text {
  font-size: 11px;
  color: #21ff00;
  z-index: 1;
  text-align: center; }
