@font-face {
  font-family: "Digi";
  src: url("/DS-DIGI.TTF"); }

* {
  box-sizing: border-box; }

.body-container {
  background-color: black;
  font-family: monospace;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em; }

h1, h2, h3 {
  color: #000; }

h1 {
  color: #fff;
  font-size: 1.6em;
  text-align: center; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.25em; }

a {
  text-decoration: none;
  color: #09f; }
  a:hover {
    text-decoration: underline; }

.keyscontainer {
  width: 100%;
  padding: 2px 1px;
  background-color: #484848;
  display: flex;
  position: fixed;
  bottom: 5px; }

.keybutton {
  border: none;
  height: 70px;
  flex: 1;
  margin: 0 5px;
  border-radius: 0px 0px 13px 13px;
  position: relative; }

.keybutton-purple {
  background-color: #802450; }

.keybutton-pink {
  background-color: #CC3980; }

.keybutton-pressed {
  background-color: #1F0051; }

.button-light {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 5px);
  border-radius: 9999999px;
  width: 10px;
  height: 10px;
  background-color: black; }
  .keybutton-pressed > .button-light {
    background-color: white; }

.patternkeyscontainer {
  width: 100%;
  padding: 2px 1px;
  background-color: #484848;
  display: flex; }

.instrument-button {
  text-align: center;
  background-color: #EBE696;
  border: none;
  flex: 1;
  margin: 0 5px;
  border-radius: 8px;
  position: relative;
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  padding: 4px 0px;
  text-transform: uppercase; }
  .instrument-button.instrument-button-pressed {
    background-color: white; }

.tempocontainer {
  position: fixed;
  top: 5px; }

.tempo-display {
  background-color: #C8FDDE;
  font-family: "Digi";
  font-size: 60px;
  line-height: 1;
  padding: 3px 0px; }

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0; }

.slider-wrapper input {
  width: 20px;
  height: 150px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg); }
